
/* ----------------------------------*/
/* Markdowns                         */
/* --------------------------------  */
.markdown-body {
font-family: sans-serif;
}

.markdown-body p {
font-style:normal;
font-weight:normal;
color:#ffffff;
margin-top: 10px;
margin-bottom: 10px;
}
.markdown-body a {
  background-color: initial;
}
.markdown-body img {
  border-style: none;
  width:100%;
  max-width:400px;
  float:left;
  padding:10px;
}
/* Image rechtsbündig                    */
img[src$='#img-right'] {
  float:right;
}
/* Image linksbündig                    */
img[src$='#img-left'] {
  float:left;
}
/* kein Float                    */
img[src$='#img-no-float'] {
  float:none;
}
/* kleines Bild                    */
img[src$='#img-small'] {
  max-width:300px;
}
/* Noch kleineres Bild für Blog       */
img[src$='#img-blog'] {
  max-width:150px;
}

.markdown-body a {
  
  color:white;
  font-size: 80%;
  text-decoration: underline CadetBlue;
   font-weight: bold;
}
.markdown-body a:hover {
  text-decoration: underline CadetBlue;
}
.markdown-body strong {
  font-weight: bold;
}
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 15px;
  margin-bottom: 15px;
}
.markdown-body h1 {
  font-size: 155%;
  color: #ffffff;
   font-weight: ;
}
.markdown-body h1,
.markdown-body h2 {
  font-weight: ;
  color:white;
}
.markdown-body h2 {
  font-size: 125%;
  color: #ffffff;
}
.markdown-body h3 {
  font-size: 100%;
  color: #ffffff;    
}
.markdown-body h3,
.markdown-body h4 {
  font-weight: bold;
}
.markdown-body h4 {
  font-size: 70%;
  color: #ffffff;
}	.markdown-body h5 {
 font-size: 85%;
  color: Cadetblue;
}
.markdown-body h5,
.markdown-body h6 {
  font-weight: bold;
}
.markdown-body h6 {
  font-size: 85%;
  color: #ffffff;
}
.markdown-body h* {
  font-size: 85%;
  color: Cadetblue;
}
.markdown-body hr {
  color: black !important;
  box-shadow: 1px 1px grey, 2px 2px grey, 3px 3px grey; ! Festlegung des Text-Shadows (Schatten);
}
.markdown-body pre,
.markdown-body code {
  border-radius: 3px !important;
  font-family:sans-serif;
  font-size: 20px;
}
.markdown-body code {
  background-color: yellow;
}
.markdown-body blockquote {
  border-left: 10px solid yellow;
  padding-left: 20px;
  font-size:95%;
}
.markdown-body table {
  /* Remove spacing between table cells (from Normalize.css) */
  border-collapse: collapse;
  border-spacing: 10;
  empty-cells: show;
  border: 2px solid CadetBlue;
}
.markdown-body table th {
  color:white;
  background-color:CadetBlue;
  font-style: italic;
  padding: 2px 0;
  text-align: center;
  vertical-align: bottom;
  font-size: 110%;
}
.markdown-body table td,
.markdown-body table th {
  border-left: 2px solid CadetBlue; /*  inner column border */
  border-width: 0 0 0 2px;
  margin: 0;
  overflow: visible; /*to make ths where the title is really long work*/
  padding: 0.5em 1em; /* cell padding */
}
.markdown-body table td {
  background-color:#102036;
  border-bottom: 1px solid #cbcbcb;
  color:White;
}

.markdown-body ul {
  margin-left: 20px;
  color: white;
  font-size:100%;
}
.markdown-body img[alt="0.1"] {
  width: 70%;               /* Sehr kleines Bild */
  max-width: 200px;
  float: left;
  padding: 10px;
}

.markdown-body img[alt="1"] {
  width: 90%;              /* Großes Bild */
  max-width: 550px;
  display: block;
  margin: 20px auto;
  padding: 10px;
  padding-right:50px;
  padding-bottom:20px;
}

/* Anpassungen für den Blog    
img[src$='#img-blog'] {
  max-width:25%;*/
}
.markdown-body .cadetblue {
  color: CadetBlue;
  font-weight: bold;
}
.cadetblue {
  color: CadetBlue;
  font-weight: bold;
}
